.footer {
  background: #1B262F;

  &__info {
    @extend %d-flex;
    padding: 31px 0;
  }

  .footer__logo {
    @extend %d-flex;
    gap: 40px;
  }

  &__list {
    @extend %d-flex;
    @extend %-list;
    gap: 40px;
  }

  &__item {
    text-decoration: none;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #FBFCFE;
    opacity: 0.7;

    &:hover{
      color: #fff;
      opacity: 1;
    }
  }

  &__link {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    transition: color .5s linear;

    &:hover {
      color: #DA6D97;
    }
  }

  &__netvorks {
    display: flex;
    gap: 24px;
  }
}

@media only screen and(max-width:540px) {
  .container {
    max-width: 100%;
  }

  .footer {
    &__list {
      flex-direction: column;
    }

    &__logo {
      column-gap: 20px;
      flex-direction: column;
    }

    &__info {
      flex-direction: column;
      gap: 40px;
    }
  }
}