.hero {
  @extend %d-flex;

  &__description {
    max-width: 546px;
  }

  &__text {
    margin: 0 0 41px;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -0.553846px;
    color: #36536B;
  }

  form {
    position: relative;
  }

  input {
    width: 100%;
    padding: 16px;
    border: none;
    background: #FBFCFE;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    border-radius: 24px;
  }

  button {
    position: absolute;
    right: 0;
  }

  &__paragrft {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #6C8294;
  }
}